[submodule "dependencies/fplutil"]
	path = dependencies/fplutil
	url = http://github.com/google/fplutil.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = http://github.com/google/fplutil.git
[submodule "dependencies/flatbuffers"]
	path = dependencies/flatbuffers
	url = http://github.com/google/flatbuffers.git
[submodule "dependencies/mathfu"]
	path = dependencies/mathfu
	url = http://github.com/google/mathfu.git
